.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  animation-direction: reverse;
  height: 40vmin;
  width: 345px;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 25px;
  padding-left: 12px;
}

.App-link {
  color: #61dafb;
}

.grid-con{
  float:left;
  width:23%;
  margin:3px;
  padding-right: 15px;
  border:1px solid #000;
  /* display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px; */
}
/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
